.color {
	color: white;	
}

.hide{
	display: none;
}

.form {
	width: 40%;
	position: absolute;
	top: -700px;
	left: 35%;
	padding: 10px;
	z-index: 1;
	background: rgba(0,0,0,0.5);
}

.form-input {
	position: relative;
	width: 90%;
	height: 50px;
	margin-bottom: 2px;
}

.form-container {
	background: rgba(0,0,0,0.5);
	position: absolute;
	top: 40%;
	left: 35%;
	padding: 10px;
}

.slider {
	animation: slide 1s 1;
	animation-fill-mode: forwards;
}

@keyframes slide {
	100% {
		transform: translateY(850px);
	}
}

.form-button {
	background: #000;
	color: #fff;
	width: 300px;
	height: 30px;
	text-align: center;
	padding: 20px;
	cursor: pointer;
	margin-bottom: 2px;
}

.form-button:hover {
	background: #fff;
	color:#000;
}
